<table>
  <thead>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @arreglo.each do |a| %>
        <tr>
            <td><%= a["u_apoyo"] %></td>
            <td><%= a["unidad"]%></td>
            <td><%= a["partida"]%></td>
            <td><%= a["id_unidad"]%></td>
            <td><%= a["id_carga"]%></td>
            <td><%= a["cve_partida"]%></td>
            <td><%= a["id_unidad_apoyo"]%></td>
            <td><%= a["fecha_carga"]%></td>
            <td><%= a["motivo"]%></td>
            <td><%= a["id_usuario"]%></td>            
            <td><%= a["estatus"]%></td>
            <td><%= a["per_entrega_entra"]%></td>
        </tr>
    <% end %>
  </tbody>
</table>
