<%= form_with(model: tabla_user_id) do |form| %>
  <% if tabla_user_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tabla_user_id.errors.count, "error") %> prohibited this tabla_user_id from being saved:</h2>

      <ul>
        <% tabla_user_id.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :herramientum_id %>
    <%= form.text_field :herramientum_id %>
  </div>

  <div class="field">
    <%= form.label :id_user %>
    <%= form.text_field :id_user %>
  </div>

  <div class="field">
    <%= form.label :nombre_herramienta %>
    <%= form.text_field :nombre_herramienta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
