<% @herramienta=Herramientum.find(params[:herramienta])%>
<%= form_with(model: tabla_user_id) do |form| %>
  <% if tabla_user_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tabla_user_id.errors.count, "error") %> prohibited this tabla_user_id from being saved:</h2>
      <ul>
        <% tabla_user_id.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-floating">
    <%= form.text_field :user_id,value: :"#{params[:user_id].to_s}", class: :"form-control", placeholder: :"Login",hidden:true%>
  </div>
  <br>
  <div class="row g-3 align-items-center">
    <div class="col">
      <label>Herramieta Seleccionada </label>
    </div>
    <%= form.text_field :herramientum_id, value:params[:herramienta],class: :"form-control", hidden:true%>
    <% if !params[:herramienta].nil? %>
      <div class="col">
        <input type="text" value="<%=Herramientum.find(params[:herramienta]).nombre_sistema%>" class="form-control"  readonly="true">
        <%# form.select(:user_id, @arreglo.collect {|n| [n["nombre"],n["id_personal"]]},{},class: :"select_user form-control") %>
      </div>
      <div class="col">
        <label>Usuarios de la herramienta</label>
      </div>
      <div class="col">     
        <select class="select_user form-control" name="select_user">
          <% @arreglo.each do |ar|%>
            <% @id=ar["id_persona"]%>
            <% case @herramienta.nombre_sistema %>
            <% when "Control Documental" %>
            <% if @edit && (@id ==tabla_user_id.id_user.to_i) %>               
              <option value="<%= ar["id_persona"].to_s+"|"+ar["nombre"].to_s %>" selected=true ><%= @id.to_s+" :"+ar["usuario"]+" *> "+ar["nombre"] %></option>             
            <% else %>
              <option value="<%= ar["id_persona"].to_s+"|"+ar["nombre"].to_s %>"><%= @id.to_s+" :"+ ar["usuario"]+" => "+ar["nombre"] %></option>
            <% end %>
            <% when "Covid","Covid_test" %>
            <option value="<%= ar["id_usuario"].to_s+"|"+ar["login"].to_s %>"><%= ar["login"] %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  <% end %>
  <div class="col">
    <%= form.submit "Guardar entrada ",class: :"btn btn-sm btn-success" %>
  </div>
</div>
<% end %>
