<%= form_with(model: tabla_user_id) do |form| %>
  <% if tabla_user_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tabla_user_id.errors.count, "error") %> prohibited this tabla_user_id from being saved:</h2>
      <ul>
        <% tabla_user_id.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-floating">
    <%= form.text_field :user_id,value: :"#{params[:user].to_s}", class: :"form-control", placeholder: :"Login", hidden:true%>
  </div>
  <%= form.text_field :herramientum_id, value:params[:herramienta],class: :"form-control", hidden:true%>
  <% if !params[:herramienta].nil? %>
  <input type="text" value="<%=Herramientum.find(params[:herramienta]).nombre_sistema%>" class="form-control"  readonly="true">
  <%# form.select(:user_id, @arreglo.collect {|n| [n["nombre"],n["id_personal"]]},{},class: :"select_user form-control") %>
 
    <select class="select_user form-control" name="select_user">
      <% @arreglo .each do |ar|%>        
        <option value="<%= ar["id_persona"] %>"><%= ar["nombre"] %></option>
      <% end %>
    </select>
   <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
