<% if @plantilla.nil? %>
    <strong><p>No hay herramienta seleccionada</p></strong> 
<% elsif  @plantilla.count==0  %>
    <strong><p>No hay plantilla de la herramienta seleccionada</p></strong> 
<% else %>
    <table class="table table-sm table-dark">
      <thead>
        <tr>
          <th>Herramienta</th>
          <th>Dato</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @plantilla.each do |plantilla| %>
          <tr>
            <td><%= plantilla.herramientum.nombre_sistema %></td>
            <td><%= plantilla.dato.nombre %></td>
            <td><%= link_to 'ver', plantilla,class: :"btn btn-sm btn-light" %></td>
            <td><%= link_to raw("#{image_tag("pencil-square.svg")} Editar"), edit_plantilla_path(plantilla) %></td>
            <td><%= link_to raw("#{image_tag("trash.svg")} Eliminar"), plantilla, method: :delete, data: { confirm: '¿Esta seguro de eliminar esta entrada de la plantilla?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>   
<% end %>