<div class="container">
  <h3>Datos del usuario</h3>
  <%= link_to "Regresar", users_path, class: :"btn btn-sm btn-outline-dark"%> |
  <%= link_to "Editar", edit_user_path(@user), class: :"btn btn-sm btn-outline-dark"%>
</div>
<div class="container">
  <div class="row row-cols-2 row-cols g-2 ">
    <div class="col">
      <label>Email: </label>
      <div class="p-3 border bg-light">
        <%= @user.email %></div>
    </div>
    <div class="col">
      <label>Nombre de Usuario: </label>
      <div class="p-3 border bg-light"><%= @user.username %></div>
    </div>
    <div class="col">
      <label>Unidad: </label>
      <div class="p-3 border bg-light"><%= @user.unidad %></div>
    </div>
    <div class="col">
      <label>Area: </label>
      <div class="p-3 border bg-light"> <%= @user.area %></div>
    </div>
    <div class="col">
      <label>Dirección: </label>
      <div class="p-3 border bg-light"><%= @user.direccion %></div>
    </div>
    <div class="col">
      <label>Subdirección: </label>
      <div class="p-3 border bg-light"><%= @user.subdireccion %></div>
    </div>
    <div class="col">
      <label>Departamento: </label>
      <div class="p-3 border bg-light"><%= @user.departamento %></div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div >
    Para agregar usuarios, seleccione una Herramienta en el caja de opciones.
    <br>
    <%= form_with url:users_cargar_herramienta_path,id: :form, method: :get do |f| %>
      <%= f.text_field :user_id,value: :"#{params[:id]}",hidden:true %>
      <div class="row">
        <div class="col" style="width:50px"> <%= f.select(:herramientum_id,Herramientum.all.collect{|herr|[herr.nombre_sistema,herr.id]},{include_blank:true},id: :select_herr,class: :"herramientas_to_user form-select ") %></div>
        <div class="col">
          <%= f.submit "Crear Usuario" ,id: :submit,class: :"btn btn-sm btn-success" %></div>
      </div>
    <% end %>
  </div>
</div><br>
<div class="container">
  <% @lista_user = TablaUserId.where(user_id:params[:id])%>
  <% unless @lista_user.nil? %>
    <table class="table ">
      <thead class="table-dark">
        <th>Nombre Herramienta</th>
        <th>Nombre del Usuario</th>
      </thead>
      <tbody>
        <% @lista_user.each do |l|%>
        <tr>
          <td><%= l.nombre_herramienta %></td>
          <td><%= l.nombre_user %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
