<p id="notice"><%= notice %></p>

<h1>Relacion Articulos</h1>

<table>
  <thead>
    <tr>
      <th>Articulo</th>
      <th>Herramienta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relacion_articulos.each do |relacion_articulo| %>
      <tr>
        <td><%= relacion_articulo.articulo_id %></td>
        <td><%= relacion_articulo.herramienta_id %></td>
        <td><%= link_to 'Show', relacion_articulo %></td>
        <td><%= link_to 'Edit', edit_relacion_articulo_path(relacion_articulo) %></td>
        <td><%= link_to 'Destroy', relacion_articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relacion Articulo', new_relacion_articulo_path %>
