<%= form_with(model: conexion_bd) do |form| %>
  <% if conexion_bd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conexion_bd.errors.count, "error") %> prohibited this conexion_bd from being saved:</h2>

      <ul>
        <% conexion_bd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3"s>
    <%= form.label :Herramienta, for: :"edit" %>
    <%= form.text_field :nombre_herramienta,id: :"edit",class: :"form-control" %>
  </div>
  <div class="mb-3"s>
    <%= form.label :Puerto, for: :"edit" %>
    <%= form.text_field :puerto,id: :"edit",class: :"form-control" %>
  </div>
  <div class="mb-3"s>
    <%= form.label :Host, for: :"edit" %>
    <%= form.text_field :host,id: :"edit",class: :"form-control" %>
  </div>
  <div class="mb-3"s>
    <%= form.label :Usuario, for: :"edit" %>
    <%= form.text_field :usuario,id: :"edit",class: :"form-control" %>
  </div>
  <div class="mb-3"s>
    <%= form.label :Contraseña, for: :"edit" %>
    <%= form.password_field :password,id: :"edit", class: :"form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Guardar" , class: :"btn btn-sm btn-primary" %>
  </div>
<% end %>
