<div class="container">
  <%= form_with(model: rol) do |form| %>
  <div class="mb-3">
  <% if rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rol.errors.count, "error") %> prohibited this rol from being saved:</h2>

      <ul>
        <% rol.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>  
  <div class="mb-3">
    <%= form.label :nombre,for: :nombre,class: :"form-label" %>
    <%= form.text_field :nombre,id: :"nombre",class: :"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :descripcion,for: :descripcion,class: :"form-label" %>
    <%= form.text_area :descripcion,id: :descripcion,class: :"form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Guardar",class: :"btn btn-sm btn-primary" %>
  </div>
<% end %>
</div>
