<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @personal.nombre %>
</p>

<p>
  <strong>Apellido p:</strong>
  <%= @personal.apellido_p %>
</p>

<p>
  <strong>Apellido m:</strong>
  <%= @personal.apellido_m %>
</p>

<p>
  <strong>Nombre completo:</strong>
  <%= @personal.nombre_completo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @personal.telefono %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @personal.calle %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @personal.numero %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @personal.colonia %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @personal.cp %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @personal.curp %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @personal.fecha_nacimiento %>
</p>

<%= link_to 'Edit', edit_personal_path(@personal) %> |
<%= link_to 'Back', personals_path %>
