<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="mb-3">
    <h3>Entrada de Informe </h3>
    <%= link_to 'Editar', edit_informe_ctrl_docum_path(@informe_ctrl_docum),class: :"btn btn-sm btn-outline-dark"%> |
    <%= link_to 'Regresar', informe_ctrl_docums_path,class: :"btn btn-sm btn-outline-dark" %>
  </div>
  <%= form_with url:informe_ctrl_docums_buscar_serial_path, method: :get do |f| %>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label class="col-form-label">Buscar por Serial</label>
      </div>
      <div class="col-auto">
        <%= f.number_field  :serial ,min:0, class: :"form-control" %>
        <%= f.text_field :id,value:params[:id],hidden:true  %>
      </div>
      <div class="col-auto">
        <%= f.submit "Buscar" , class: :"btn btn-sm btn-success" %>
      </div>
      <div class="col-auto">
        <%= link_to "Limpiar busqueda", informe_ctrl_docum_path(params[:id]) , class: :"btn btn-sm btn-success" %>
      </div>
    </div>
  <% end %><br>
  <div class="row row-cols-2">
    <div class="form-floating col">
      <div id="u" class="form-control"><%= @informe_ctrl_docum.user.login%></div>
      <label for="u" >Usuario</label>
    </div>
    <div class="form-floating col">    
      <input value=<%= @informe_ctrl_docum.herramientum.id%> id="herra_id" hidden="true">  
      <input value=<%= @informe_ctrl_docum.id %> id="informe_id" hidden="true" >
      <input value=<%= @informe_ctrl_docum.fecha_ini %> id="fecha_ini" hidden="true" >
      <input value=<%= @informe_ctrl_docum.fecha_fin %> id="fecha_fin" hidden="true" >
      <input value=<%= @informe_ctrl_docum.fecha_doc %> id="fecha_doc" hidden="true" >
      <div id="h" class="form-control"><%= @informe_ctrl_docum.herramientum.nombre_sistema %></div>
      <label for="h">Herramienta</label>
    </div>
    <div class="form-floating col">
      <div id="i" class="form-control"><%= @informe_ctrl_docum.nombre_informe %></div>
      <label for="i">Nombre del Informe</label>
    </div>
    <div class="form-floating col">
      <div id="i" class="form-control"><%= TablaUserId.find_by(user_id:@informe_ctrl_docum.user_id).nombre_user.titleize %></div>
      <label for="i">Usuario de la Herramienta</label>
    </div>
    <% if @informe_ctrl_docum.rango %>      
      <div class="form-floating col">
        <div id="f" class="form-control"><%= @informe_ctrl_docum.fecha_ini %></div>
        <label for="f">Fecha Inicial</label>
      </div>
      <div class="form-floating col">
        <div id="f" class="form-control"><%= @informe_ctrl_docum.fecha_fin %></div>
        <label for="f">Fecha Final</label>
      </div>
    <% else %>
      <div class="form-floating col">
        <div id="f" class="form-control"><%= @informe_ctrl_docum.fecha_doc %></div>
        <label for="f">Fecha Documento</label>
      </div>
    <% end %>
  </div> <br>
  <select id="select" class="select_user form-control" name="select_user">
    <% @arreglo_propietario.each do |ar|%>
      <option value="<%= ar["id_persona"].to_s %>"><%= ar["acceso_a"].to_s+" => "+ar["nombre"].to_s.titleize %></option>
    <% end %>
  </select>
    <div id="parcial"></div>
</div>
<%# unless @sin_pagina %>
<%= @sin_pagina%>
  <% @obje = @arreglo %>
<%# end %>
