<div class="container">
  <p id="notice"><%= notice %></p>
  <h3>Perfil</h3>
  <div class="row g-2 mb-3">
    <div class="col-sm">
      <%= link_to 'Editar', edit_perfil_path(@perfil),class: :"btn btn-outline-dark btn-sm"  %> |
      <%= link_to 'Regresar', perfils_path,class: :"btn btn-outline-dark btn-sm"  %>
    </div>
  </div>
  <% if can? :read , Perfil %>
    <div class="row g-2">
      <div class="col-sm form-floating">
        <div id="nombre" class="form-control"><%= @perfil.rol.nombre %></div>
        <label for="nombre"><strong>Rol:</strong></label>
      </div>
      <div class="col-sm form-floating  mb-3" >
        <div id="id" class="form-control " ><%= link_to @perfil.user.username,user_path(@perfil.user_id), style: :"margin-bottom:5px;color:black;text-decoration:underline" %></div>
        <label for="id"><strong>Nombre de usuario:</strong></label>
      </div>
    </div>
  <% else %>
    <h5>No tienes el rol para poder ver el Perfil</h5>
  <% end %>
</div>
