<p id="notice"><%= notice %></p>
<h3>Unidads</h3>
<%= link_to 'New Unidad', new_unidad_path,class: :"btn btn-sm btn-outline-dark" %>
<table class="table table-dark">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Clues</th>
      <th>Telefono</th>
      <th>Tipo de Unidad</th>
      <th>Entidad</th>
      <th>Fecha de actualización</th>
      <th>Domicilio</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @unidads.each do |unidad| %>
      <tr>
        <td><%= unidad.id %></td>
        <td><%= unidad.nombre.titleize %></td>
        <td><%= unidad.clues %></td>
        <td><%= unidad.telefono %></td>
        <td><%= unidad.tipo_unidad.nombre %></td>
        <td><%= unidad.entidad.nombre %></td>
        <td><%= unidad.fecha %></td>
        <td><%= unidad.domicilio.titleize%></td>
        <td><%= link_to 'Show', unidad %></td>
        <td><%= link_to 'Edit', edit_unidad_path(unidad) %></td>
        <td><%= link_to 'Destroy', unidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% @obje=@unidads%>