<%= form_with(model: herramientum) do |form| %>
  <% if herramientum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(herramientum.errors.count, "error") %> prohibited this herramientum from being saved:</h2>

      <ul>
        <% herramientum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-floating mb-3">
    <%= form.text_field :nombre_sistema, id: :sistema,class: :"form-control",placeholder: :"Nombre del Sistema" %>
    <%= form.label :nombre_sistema, for: :sistema %>
  </div>
  
  <div class="mb-3">   
    <%= form.label :conexion_bd_id, "Conexion a la Base de Datos" %>
    <%= form.select(:conexion_bd_id,ConexionBd.all.collect {|cnx| [cnx.nombre_herramienta,cnx.id]},{include_blank:true,selected:herramientum.conexion_bd_id} ,id: :conexion_bd,class: :"form-control BD",placeholder: :"conexion")%>
  </div>
  <div class="actions">
    <%= form.submit "Guardar" ,class: :"btn btn-sm btn-primary"%>
  </div>
<% end %>
