<div class="container">
  <div class="mb-3">
    <p id="notice"><%= notice %></p>  
    <h3>Herramienta</h3>
  </div>  
  <div class="mb-3">
    <%= link_to 'Nueva Herramienta', new_herramientum_path,class: :"btn btn-sm btn-outline-dark" %>
  </div>
  <table class="table table-dark table-sm">
    <thead>
        <tr>
          <th>Nombre de la Herramienta</th>
          <th>Base de datos</th>
          <th colspan="3">Columnas de Informe</th>          
        </tr>
      </thead>

      <tbody>
        <% @herramienta.each do |herramientum| %>
          <tr>
            <td><%= herramientum.nombre_sistema %></td>
            <td><%= link_to herramientum.conexion_bd.nombre_herramienta, conexion_bd_path(herramientum.conexion_bd_id),class: :"btn btn-sm btn-light" %></td>           
            <td><%= link_to 'Ver', herramientum,class: :"btn btn-sm btn-light" %></td>
            <td><%= link_to 'Editar', edit_herramientum_path(herramientum) %></td>
            <td><%= link_to 'Eliminar', herramientum, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<% @obje=@herramienta%>