<p id="notice"><%= notice %></p>

<p>
  <strong>Conexion bd:</strong>
  <%= @herramientum.conexion_bd_id %>
</p>

<p>
  <strong>Dato:</strong>
  <%= @herramientum.dato_id %>
</p>

<%= link_to 'Edit', edit_herramientum_path(@herramientum) %> |
<%= link_to 'Back', herramienta_path %>
