<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="">
  </div>
  <p>
    <strong>Conexion de base de datos:</strong>
    <%= @herramientum.conexion_bd.nombre_herramienta %>
  </p>

<p>
  <strong>Nombre del sistema</strong>
  <%= @herramientum.nombre_sistema %>
</p>

<%= link_to 'Edit', edit_herramientum_path(@herramientum) %> |
<%= link_to 'Back', herramienta_path %>
</div>