<%= form_with(model: informe_general) do |form| %>
  <% if informe_general.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(informe_general.errors.count, "error") %> prohibited this informe_general from being saved:</h2>
      <ul>
        <% informe_general.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col"><b>Creado por: <%= current_user.username%></b></div>
  <div class="row row-cols-2">
    <div class="col"><b>Herramienta:</b></div>
    <div class="col"><b>Usuarios:</b></div>
    <% TablaUserId.where(user_id:current_user.id).each do |t|%>
      <div class="col"><%= t.nombre_herramienta %></div>
      <div class="col"><%= t.usuario %></div>
    <% end %>
  </div>
  <div class="row ">
    <%= form.text_field :user_id ,value:current_user.id ,id: :"usuario",class: :"form-control",placeholder: :"Usuario",hidden:true%>
    <%= form.label :"Usuario actual",for: :usuario,hidden: :true %>
    <div class="form-floating" >
      <%= form.text_field :nombre,id: :nombre_i, id: :"nombre_i",class: :"form-control",placeholder: :"Nombre del Informe" %>
      <%= form.label :"Nombre del informe",for: :nombre_i %>
    </div>
    <div class="col">
      <%= form.label :"Tipo de Información",for: :tipo %>
      <%= form.number_field :tipo_informe,value:1,min:1, max:5,id: :tipo,class: :"form-control", placeholder: :"Info Datos" %>
    </div>
    <div class="col" style="padding-top:25px;">
      <%= form.select(:herramientum_id,Herramientum.where("nombre_sistema != 'Control Documental'").collect{|h|[h.nombre_sistema,h.id]},{include_blank:true,selected:informe_general.herramientum_id},class: :"form-control herramientas_informe") %>
    </div>
    <div class="col" style="padding-top:25px;">
      <%= form.select(:partida_id,Partida.all.collect{|p| [p.informacion,p.id]},{include_blank:true,selected:informe_general.partida_id},class: :"form-control partidas")%>
    </div>
    <div  id="parcial">
      <%# render :partial => "select_usuarios" , :obj => @arreglo %>
    </div>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit "Guardar Informe" ,class: :"btn-sm btn btn-primary"%>
  </div>
<% end %>
