<%= form_with(model: informe_general) do |form| %>
  <% if informe_general.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(informe_general.errors.count, "error") %> prohibited this informe_general from being saved:</h2>

      <ul>
        <% informe_general.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :nombre,for: :nombre %>
    <%= form.text_field :nombre,id: :nombre,class: :"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar Informe" ,class: :"btn-sm btn btn-primary"%>
  </div>
<% end %>
