<%= form_with(model: informe_general) do |form| %>
  <% if informe_general.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(informe_general.errors.count, "error") %> prohibited this informe_general from being saved:</h2>
      <ul>
        <% informe_general.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.text_field :nombre ,hidden: :true %>
  </div>
  
  <div class="mb-3 form-floating">
    <%= form.text_field :user_id ,value:current_user.id ,class: :"form-control",placeholder: :"Usuario",hidden: :true %>
    <%= form.label :"Usuario actual",for: :nombre %>
  </div>
   <div class="mb-3 form-floating">
    <%# form.number_field :usuario_informe_id ,value:0, min:0 ,class: :"form-control",placeholder: :"Id de Usuario"%>
    <%# form.label :"Id de usuario del Informe",for: :nombre %>
  </div>
  <div class="mb-3">
    <%= form.select(:partida_id,Partida.all.collect{|p| [p.informacion,p.id]},{include_blank:true,selected:informe_general.partida_id},class: :"form-control partidas")%>
  </div>
  <div class="mb-3">
    <%= form.select(:herramientum_id,Herramientum.all.collect{|h|[h.nombre_sistema,h.id]},{include_blank:true,selected:informe_general.herramientum_id},class: :"form-control herramientas_informe") %>    
  </div>
  <div class="mb-3 form-floating">  
    <%= form.number_field :tipo_info,value:1,min:1, max:2,id: :tipo,class: :"form-control", placeholder: :"Info Datos" %>  
    <%= form.label :"Tipo de Información",for: :tipo %>  
  </div>

  <div  id="parcial">
     <%= render :partial => "select_usuarios" , :obj => @arreglo %> 
  </div>
  
  <br>
  <br>
  <br>
  <br>
  <div class="actions">
    <%= form.submit "Guardar Informe" ,class: :"btn-sm btn btn-primary"%>
  </div>
<% end %>
