   <%= link_to raw("#{image_tag("printer.svg")} Descargar a Excel") , informe_generals_excel_path(id:params[:id],fomart:"xlsx"),target: :_blank,class: :"btn btn-sm btn-success"%>
<table  class="letra table table-striped-sm" >
  <thead class="table-dark " style="font-size:15px">
    <% @plantilla.each do |pl| %>
      <% unless pl.dato.nombre.to_s == "columnas" || pl.dato.nombre.to_s == "resumen" %>
        <th><%= pl.dato.nombre %></th>
      <% end %>
    <% end %>
    <% @unidades_arr.each do |un| %>
      <% unless un == "" || un == "," %>
        <th><%= Unidad.find(un).nombre %> - <strong> <%= Unidad.find(un).fecha %></strong></th>
      <%end %>
    <% end%>
  </thead>
  <tbody>
    <!-- Ciclo que maneja cada renglon de la tabla principal -->
    <% @arreglo.each_with_index do |a, index| %>
      <% unless index == 0 %>
        <tr>
          <% @columnas_cont = 0 %>
          <% @plantilla.each do |pl| %>
            <% if pl.dato.nombre.to_s != "columnas" && pl.dato.nombre.to_s!="resumen" %>
              <td style="width:10px;font-size:12px;" >
                <% @columnas_cont = @columnas_cont + 1 %>
                <%= a[pl.dato.nombre.to_s] %>
              </td>
            <% else %>
              <% @arreglo_unidades = a[pl.dato.nombre.to_s].split(/{|}|\[|\]/) %>
              <% contador = 0 %>
              <% @arreglo_unidades.each_with_index do |ar, i| %>
                <% unless ar == "" || ar == "," %>
                  <% @unidades.push(ar) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <!-- Se adjunta a un arreglo nuevo cada entrada por renglon, del resumen del detalle de cada unidad -->
          <% @unidad_resumen=a["resumen"].split(/\[|\]/) %>
          <% @arreglo_detalle=Array.new %>
          <% @unidad_resumen.each do |r|%>
            <!-- Se elimina los espacion vacios, para mantener el mismo contador para los dos arreglos -->
            <% unless r=="" %>
              <%  @arreglo_detalle.push(r) %>
            <%end %>
          <% end%>
          <!-- ciclo de total de unidades, el contador es el mismo para las unidades y para sus detalles-->
          <% contador = 0 %>
          <% @unidades_arr.each do |un| %>
            <% unless un == "" || un == "," %>
              <% @arreglo_caducidades = @unidades[contador].split("|") %>
              <% if @arreglo_caducidades.count > 0 %>
                <td >
                  <div class="container">
                    <div class="row " style="font-size:12px">
                      <% if @arreglo_caducidades[1].to_i>0 && !@arreglo_caducidades[1].nil? &&  @arreglo_caducidades[1]!=""  %>
                        <div class="col border bg-light "><b>Caducado</b></div>
                        <div class="col alert-danger" role="alert" > <%= @arreglo_caducidades[1] %></div>
                      <% end %>
                      <!-- <b>fecha:</b>  <%# @arreglo_caducidades[0] %> </div>-->
                    </div>
                    <div class="row  " style="font-size:12px">
                      <% if @arreglo_caducidades[2].to_i>0 && !@arreglo_caducidades[2].nil? &&  @arreglo_caducidades[2]!=""  %>
                        <div class="col border bg-light "><b>Por Caducar</b></div>
                        <div class="col  alert-warning"><%= @arreglo_caducidades[2] %></div>
                      <% end %>
                    </div>
                    <div class="row  " style="font-size:12px">
                      <% if @arreglo_caducidades[3].to_i>0 && !@arreglo_caducidades[3].nil? &&  @arreglo_caducidades[3]!=""  %>
                        <div class="col border bg-light" ><b>Buen Estado</b></div>
                        <div class="col  alert-success "><%= @arreglo_caducidades[3] %></div>
                      <% end %>
                    </div>
                    <div class="row  " style="font-size:12px">
                      <% if @arreglo_caducidades[4].to_i>0 && !@arreglo_caducidades[4].nil? && @arreglo_caducidades[4]!="" %>
                        <div class="col border bg-light"><b>Necesita</b></div>
                        <div class="col alert-info"><%= @arreglo_caducidades[4] %></div>
                      <% end %>
                    </div>
                  </div>
                  <div class="row " style="font-size:12px">
                    <div class="col-sm ">
                      <div class="btn-group " style="padding-top:2px">
                        <button style="font-size:10px;"  type="button" class="btn btn-success btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Detalles
                        </button>
                        <% @columna=@arreglo_detalle[contador].split(/{|}/) %>
                        <div class="col-sm dropdown-menu dropdown-menu-dark" style="width:300px">
                          <% @columna.each do |c| %>
                            <div class="row ">
                              <% unless c == "," %>
                                <% @valor=c.split('|') %>
                                <% unless @valor.length==0%>
                                  <div class="col"><strong><%= @valor[0]%> </strong></div>
                                  <div class="col"><%= @valor[1]%><br>
                                  </div>
                                <%end%>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            <% else %>
              <td>
                <div class="row"  ></div>
                <div class="col border bg-light" style="font-size:12px">No hay datos</div>
              </td>
            <% end %>
            <% contador = contador + 1 %>
          <%end %>
        <% end%>
        <!-- Se reinicia el ciclo principal -->
        <% @unidades = Array.new %>
        <% contador = 0 %>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
<% @obje=@arreglo %>
