<!DOCTYPE html>
<html>
  <head>
    <title>Interoperativa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application',media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application',media: 'all', 'data-turbolinks-track': 'reload' %>    
  </head>
  <body>
    <%= render "partials/menu" ,style: :"padding-bot:100px" %>    
    <%= yield %>
  </body>  
  <footer>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
    <%= render "partials/paginacion" %>    
    <p class="text-center text-muted">Servicios de Salud de San Luis Potosi</p>
    </div>
  </footer>    
</html>
